* {
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-banner{
    position: sticky;
    top:0;
}
.clubLogo{
    width:100px;
    position: absolute;
    top: 8%;
    left:10%;
}
.top-banner ul{
    width:100%;
    display:flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 30px;
    background: white;
}
.top-banner li{
    list-style:none;
    margin-right:20px;
    font-size:18px;
    font-weight: bold;
}

.top-banner a{
    text-decoration: none;
    color: black;
}
.top-banner a:hover{
    color:red;
}
.banner {
    background-image: url(images/envPhoto2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    

}

.banner-text{
    text-align: center;
    color:white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 100px;
}
.banner-text h5{
    font-size: 20px;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    display: inline-block;
    color:white;
    border: .5px solid white;
    text-align:center;
    text-decoration: none;
    padding: 12px 0;
    margin: 0 10px;
    position:relative;
    z-index: 1;
    transition: color .5s;

}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.banner-btn a:hover span{
    width:100%;
}
.banner-btn a:hover{
    color:black;
}
.sideNav{
    width: 120px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index:2;
}

.execPhotos img{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    pointer-events: none;
}

#first {
    height:100vh;
    padding-top:10vh;
    text-align: center;
    font-size:32px;
    font-weight: bold;

}
#second {
    height:100vh;
    text-align: center;
}
#third {
    height:100vh;
}

#aboutS1{
    height:300vh;
}