* {
    margin:0;
    padding:0;
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-family: 'Arvo', serif;*/
    font-family: 'Sora';
}
/* Banner */
.top-banner{
    position: sticky;
    top:0;
}
.clubLogo{
    width:100px;
    position: absolute;
    top: 8%;
    left:10%;
}
.top-banner ul{
    width:100%;
    display:flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 30px;
    background: white;
}
.top-banner li{
    list-style:none;
    margin-right:20px;
    font-size:18px;
}
.top-banner a{
    text-decoration: none;
    color: black;
}
.top-banner a:hover{
    color:red;
}

/* Index page */
.mainPage{
    /*font-family: 'Arvo', serif;*/
}
.banner{
    background-image: url(images/envPhoto2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color:white;
    padding-top: 170px;
}
.banner-text h1{
    font-family: 'Sora';
    font-size: 100px;
}
.banner-text h5{
    font-size: 20px;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    display: inline-block;
    color:white;
    border: .5px solid white;
    text-align:center;
    text-decoration: none;
    padding: 12px 0;
    margin: 0 10px;
    position:relative;
    z-index: 1;
    transition: color .5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.banner-btn a:hover span{
    width:100%;
}
.banner-btn a:hover{
    color:black;
}
/*First*/
#mission {
    height:30vh;
    padding-top:10vh;
    text-align: center;
    font-size:32px;
    font-weight: bold;
}
#mission p{
    padding-top:5vh;
    font-size: 18px;
}
/*Second*/
#garden {
    text-align: center;
    align-items: center;
    height:50vh;
}
#garden img{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    background-size: cover;
}
/*Third*/
#litterPickup {
    text-align: center;
    align-items: center;
    height:50vh;
}
#litterPickup img {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    background-size: cover;
}
/*Fourth*/
#recycle {
    padding-top: 10px;
    text-align: center;
    align-items: center;
    height:50vh;
}
#recycle img {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    background-size: cover;
}
.join-us{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 20vh;
}
.join-us a{
    text-decoration: none;
    background-color: palegreen;
    color: black;
    font-size: 30px;
    width: 150px;
    display: inline-block;
    border: .75px solid green;
    position:relative;
    padding: 12px 0;
    margin: 0 10px;
}
.join-us a:hover{
    color:red;
}

/* Footer */
footer{
    position: relative;
    bottom:0;
    left: 0;
    right: 0;
    background:rgb(37, 36, 36);
    height:auto;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 8vh;
    color:white;
    text-align: left;

}

.footer-content .footer-left{
    display: block;
    width: 30%;
    margin-bottom: 40px;
    margin-left:5vw;
}
.footer-left h3{
    font-size: 32px;
}
.footer-left h4{
    color:green;
    font-size: 30px;
}
.footer-left h5{
    font-size: 18px;
    margin-top: 43px;
}
.footer-left h6{
    color:grey;
    font-size: 20px;
    margin-top: 150px;
}
.footer-content .footer-center{
    display: block;
    margin-right:5vw;
    width: 25%;
}
.footer-center h3{
    font-size: 24px;
}
.footer-center h4{
    font-size: 18px;
    margin-top: 30px;
}
.footer-content .footer-right{
    display: block;
    width: 30%;
}
.footer-right h3{
    font-size: 32px;
    padding-bottom: 40px;
}
.footer-right h4{
    margin-bottom: 60px;
}
.footer-right i{
    font-size: 26px;
}
.footer-right i h4{
    margin-left: 40px;
}


.footer-content .footer-left,
.footer-content .footer-center,
.footer-content .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* About Page */
.execPhotos{
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 4rem;
    align-items:top;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
}
.execPhotosTitle{
    text-align: center;
    font-size:40px;
    padding: 20px 0 40px 0;
}
.execPhotos img{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    /*max-height: 200px;
    max-width: 200px;
    */
}

/* Blog Page */
.blogTitle{
    text-align: center;
    font-size: 40px;
    padding: 20px 0 40px 0;
}
.presentations h3{
    margin-left: 240px;
}
.googleSlides{
    text-align: center;
}

/* Calendar Page */
.calendar .googleCalendar{
    text-align: center;
}
